@media screen and (max-width:960px){
    body{
       background-color: red; 
    }
    nav{
      flex-direction: column;
      
      
    }
    .logo{
      justify-content: center;
    }
    .inp{
      justify-content: center;
      margin-top: 0px;
    }
   nav ul{
    justify-content: center;
   }
  .card{
    
    width: 170px;
    height: 230px;
  }
  .cantainer{
    gap: 20px;
    flex-direction: column;
    display: inline block;
  }
  
}






/* .responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
} */





main{
  min-height: calc(100vh - 75px - 10vh);
  /* width: 110vw; */
  
}