
/* =========================sylist================ */

*{
    margin: 0 0;
    padding: 0 0;
}
:root{
    --main-bg-color:#5cacf3;

}
.logo{
    display: flex;
}



.card{
    width: 400px;
    height: auto;
    justify-content: center;
    text-align: center;
   
   
   

}

nav ul li:hover {
    color: brown;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    float: right;
}
.bbb {
    width: 7vw;
    height: 4vh;
    text-align: center;
    font-size: 15px;
    background: #5cacf3;
    border: solid white 2px;
    border-radius: 10px 0 10px 0;
    color:white;
    
    transition:0.3s ease-in-out;


}
.logo{
    margin: 20px 20px;
    
}
nav{
    display: flex;
    background-color:#0a4c86; 
    height: auto;
    width: 110vw;
    text-align: right;
    /* justify-content: center; */
    
}
#lu{
    list-style: none;
    font-size: 1em;
    display: flex;
    color: rgb(15, 15, 15);
    padding: 0px ;
    align-items: center;
}
.inp{
    display: flex;
    margin-top: 25px ;
}
#abc{
    padding: 15px 10px;
    font-size: 1em;
    border-radius: 5px ;
    width: 25vw;
    height: 0px;
   display: flex;
    
}


#an{
    text-decoration: none;
    color: rgb(251, 246, 246);
    padding: 0px 1vw;
    display: inline-block;
    cursor: pointer;

}



.men{
   background-color: aquamarine;
}
.foot{
    text-align: center;
    background-color:#0a0a0a ;
    width: 110vw;
    height: 12vh;
}
.copyright {
    text-align: center;
}